In [ ]:
# Single word
str = 'hello'
str

In [ ]:
str='hello world'
str

In [ ]:
# Entire phrase 
'This is also a string'

In [ ]:
'hello jack ,how are you?'

In [ ]:
# We can also use double quote
"String built with double quotes"

In [ ]:
"pinky is a intelligent girl in the class"

In [ ]:
# Be careful with quotes!
"I'm using single quotes, but will create an error"

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

In [ ]:
"we can use single & double quotes in the string"

In [ ]:
#printing string
# We can simply declare a string
'Hello World'

In [ ]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

In [ ]:
print ('Hello World 1')
print ('Hello World 2')
print ('Use \n to print a new line')
print ('\n')
print ('See what I mean?')

In [ ]:
# To use print function from Python 3 in Python 2
from __future__ import print_function

print('Hello World')

In [ ]:
#string basics
len('Hello World')

In [1]:
# Assign s as a string
s = 'Hello World'

In [2]:
s

'Hello World'

In [3]:
# Print the object
print(s)

Hello World

In [4]:
# Show first element (in this case a letter)
s[0]

'H'

In [5]:
s[1]

'e'

In [6]:
s[4]

'o'

In [7]:
s[6]

'W'

In [8]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [9]:
s[6:]

'World'

In [10]:
# Note that there is no change to the original s
s

'Hello World'

In [11]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [12]:
s[:7]

'Hello W'

In [13]:
#Everything
s[:]

'Hello World'

In [14]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [15]:
s[-3]

'r'

In [16]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [17]:
s[:-7]

'Hell'

In [18]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [19]:
#grab everything,but go in step size of 3
s[::3]

'HlWl'

In [20]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [21]:
s[::-3]

'dooe'

In [22]:
#string properties
s

'Hello World'

In [23]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [24]:
s

'Hello World'

In [25]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [26]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [27]:
print(s)

Hello World concatenate me!

In [28]:
letter = 'z'

In [29]:
letter*10

'zzzzzzzzzz'

In [30]:
letter='k'

In [31]:
letter*3

'kkk'

In [32]:
s

'Hello World concatenate me!'

In [33]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [34]:
# Lower case
s.lower()

'hello world concatenate me!'

In [35]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [36]:
# Split by a specific element (doesn't include the element that was split on)
s.split('o')

['Hell', ' W', 'rld c', 'ncatenate me!']

In [37]:
#print formating
'Insert another string with curly brackets:{}'.format({'The inserted string'})

"Insert another string with curly brackets:{'The inserted string'}"

In [38]:
#location & counting
print(s)
s.count('o')

Hello World concatenate me!

3

In [39]:
s.find('o')

4

In [40]:
s.centre(48,'z')

AttributeError: 'str' object has no attribute 'centre'

In [41]:
'hello\thi'.expandtabs()

'hello   hi'

In [42]:
#check methoad
s = 'hello'

In [43]:
s.isalnum()

True

In [44]:
s.isalpha()

True

In [45]:
s.islower()

True

In [46]:
s.isspace()

False

In [47]:
s.istitle()

False

In [48]:
s.isupper()

False

In [49]:
s.endswith('o')

True

In [50]:
#built in reg.expns
s.split('e')

['h', 'llo']

In [51]:
s.partition('e')

('h', 'e', 'llo')

In [52]:
s

'hello'

In [53]:
#lists
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [54]:
my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

In [55]:
len(my_list)

4

In [56]:
#indexing & slicing
my_list = ['one','two','three',4,5]

In [57]:
# Grab element at index 0
my_list[0]

'one'

In [58]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [59]:
my_list[2:]

['three', 4, 5]

In [60]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [61]:
my_list[:2]

['one', 'two']

In [62]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [63]:
my_list

['one', 'two', 'three', 4, 5]

In [64]:
# Reassign list
my_list = my_list + ['add new item permanently']

In [65]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [66]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [67]:
# Create a new list
l = [1,2,3]

In [68]:
# Append
l.append('append me!')

In [69]:
# Show
l

[1, 2, 3, 'append me!']

In [70]:
# Pop off the 0 indexed item
l.pop(0)

1

In [73]:
# show
l

[2, 3]

In [76]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [75]:
popped_item

3

In [77]:
# Show remaining list
l

[]

In [78]:
l[100]

IndexError: list index out of range

In [79]:
new_list = ['a','v','x','k','c']

In [80]:
#Show
new_list

['a', 'v', 'x', 'k', 'c']

In [81]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [82]:
new_list

['c', 'k', 'x', 'v', 'a']

In [83]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [84]:
new_list

['a', 'c', 'k', 'v', 'x']

In [85]:
#nesting
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [86]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [87]:
# Let's make three lists
lst_1=[4,7,3]
lst_2=[9,15,6]
lst_3=[7,3,12]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [88]:
#show
matrix

[[4, 7, 3], [9, 15, 6], [7, 3, 12]]

In [89]:
# Grab first item in matrix object
matrix[0]

[4, 7, 3]

In [90]:
# Grab first item of the first item in the matrix object
matrix[1][1]

15

In [91]:
matrix[2][2]

12

In [92]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[2] for row in matrix]

In [93]:
first_col

[3, 6, 12]

In [94]:
l = [1,2,3]

In [95]:
l.append(4)

l

[1, 2, 3, 4]

In [96]:
l.count(10)

0

In [97]:
l.count(3)

1

In [98]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [99]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [100]:
print(l)
l.index(2)

[1, 2, 3, 4]

1

In [101]:
l.index(12)

ValueError: 12 is not in list

In [102]:
l

[1, 2, 3, 4]

In [103]:
# Place a letter at the index 2
l.insert(2,'inserted')

In [104]:
l

[1, 2, 'inserted', 3, 4]

In [105]:
ele = l.pop()

In [106]:
l

[1, 2, 'inserted', 3]

In [107]:
ele

4

In [108]:
l

[1, 2, 'inserted', 3]

In [109]:
l.remove('inserted')

In [110]:
l

[1, 2, 3]

In [111]:
l = [1,2,3,4,3]

In [112]:
l.remove(3)

In [113]:
l

[1, 2, 4, 3]

In [114]:
l.reverse()

In [115]:
l

[3, 4, 2, 1]

In [116]:
l

[3, 4, 2, 1]

In [117]:
l.sort()

In [118]:
l

[1, 2, 3, 4]