In [1]:
# integers
x = 1
type(x)

int

In [2]:
# float
x = 1.8
type(x)

float

In [3]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [4]:
# string
name1 = 'XYZ'
type(name1)

str

In [5]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 0.2- 2.0j
type(x)

complex

In [6]:
print(x)

(0.2-2j)

In [7]:
print(x.real,x.imag)

0.2 -2.0

In [8]:
#variables
tenth = 10
tenth

10

In [9]:
fivth=5
fivth

5

In [10]:
#dynamic typing
ten = 10
ten

10

In [11]:
ten='ten'
ten

'ten'

In [12]:
#strong typing
'Day ' + '1'

'Day 1'

In [13]:
'Day'+'3'

'Day3'

In [14]:
'Day ' + str(7)

'Day 7'

In [15]:
#boolean expressions
True and False

False

In [16]:
True or False

True

In [17]:
not False

True

In [18]:
not True

False

In [19]:
True is True

True

In [20]:
True is False

False

In [21]:
'a' is 'a'

True

In [22]:
'a' is 'b'

False

In [23]:
'p'is'p'

True

In [24]:
#branching
i = 3
if i < 3:
    print('less than 3')
elif i < 5:
    print('less than 5')
else:
    print('5 or more')

less than 5

In [25]:
#list
l = []
l

[]

In [26]:

l = list()
l

[]

In [27]:
l = ['a', 'b', 'c']
l

['a', 'b', 'c']

In [28]:
l = ['a',6]
l

['a', 6]

In [29]:
l2 = list(l)
l2

['a', 6]

In [30]:
list('mnopqr')

['m', 'n', 'o', 'p', 'q', 'r']

In [31]:
for every_letter in l:
    print(every_letter)

a
6

In [32]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [9, 5, 3, 8, 4, 2, 7, 4,9]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

# Output: The sum is 48
print("The sum is", sum)
sum

The sum is 51

51

In [1]:
#forloop with else
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [11]:
# Program to add natural
# numbers upto 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))


# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter n: 70
The sum is 2485

In [1]:
print(range(10))

range(0, 10)

In [2]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(list(range(2, 8)))

[2, 3, 4, 5, 6, 7]

In [4]:
print(list(range(2, 20, 5)))

[2, 7, 12, 17]

In [5]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz','sapna']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz
I like sapna

In [6]:
# Use of break statement inside loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

In [7]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

In [8]:
# Program to take the input string from the user.

name = input("What is your name?\n ")
type(name)

What is your name?
 kavya

str

In [10]:
# Program to read integers from user

age = input("What is your age? ")
print ("Your age is: ", age)
type(age)

What is your age? 22
Your age is:  22

str